<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.hizliresim.com/5a4O4F.jpg?__cf_chl_jschl_tk__=36345585e8cf6203f6e4e0768e867f6b3c954253-1617302353-0-AS52NiaflbhtXJZ4WZMB3eEh7weHRAFrssVEtWCj8x-KrjB1QKkxzKdfV7udSdac47LuRjHly0wN4pa53jyxeit8Ro67rpCD0IL0siHUnPao7JOiyVPgJkNtTlWmKGua6faPShGdhFKE--pmt016HiBpxgBze0bS8DvY-_TCJR-Wglp04Talrek0SqvQFFVF73XvxTGPukIi0_9b9HMVfnuL42anpcwFVZ-AMmAZe2HyYXVKTR2Lhhf08mHb_VjbkftVAAaP_64uPDDx1epZNvw_AalnZ6tIiYjJsm_X8iB8S1-zhSRU4vEqctT2Wmm6ftebwlzM65kCBKHDY-AJTxNl4qj95i7kyJpAIPxfhimH2nWSLu_RhRp_HWrh6qzYxf9m53_pEHpArMRkEwDc8bs" class="d-block w-100" alt="...">
      </div>      
    </div>
  </div>
