
<div class="container">
    <div class="row">
        <app-navi></app-navi>
        <div class="col-md-3">
            <h4>Markalar</h4>
            <app-brand></app-brand>
            <h4>Renkler</h4>
            <app-color></app-color>
        </div>
    
        <div class="col-md-9">
            <h4>Araçlar</h4>
            <app-car></app-car>
            <h4>Kira Listesi</h4>
            <app-rental></app-rental>
            <h4>Müşteriler</h4>
            <app-customer></app-customer>
        </div>
    
        <router-outlet></router-outlet>
    </div>
    
</div>
