  
<div class="row mb-1">
    <div class="col col-4">
        <span>Renk Seçiniz</span>
        <select class="form-select form-select-sm mb-3" [(ngModel)]="currentBrand"  aria-label="Default select example"> 
            <option [selected]="isCurrentBrand(brand)" *ngFor="let brand of brands " [value]="brand.id">{{brand.name}}</option>
        </select>
    </div>
    <div class="col col-5">
        <span>Marka Seçiniz</span>
        <select class="form-select form-select-sm mb-3" [(ngModel)]="currentColor"   aria-label="Default select example">
            <option [selected]="isCurrentColor(color)" *ngFor="let color of colors " [value]="color.id">{{color.name}}</option>
        </select>
    </div>
    <div class="col col-2">
        <a routerLink="/cars/searchfilter/{{currentBrand}}/{{currentColor}}" class="btn btn-warning btn-sm">Filtrele</a>  
    </div>
</div>



