<!-- Button trigger modal -->
<button type="button" class="btn btn-success btn-sm mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">
    Resim Ekle
  </button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Resim Ekle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="imageAddForm">
            <div class="mb-3">
                <label for="example-date-input" class="col-4 col-form-label">Marka</label>
                <select class="form-select" formControlName="carId"  aria-label="Default select example">
                    <option *ngFor="let car of cars" [ngValue]="car.id">{{car.brandName}} | {{car.description}} | {{car.colorName}}</option>            
                </select>   
            </div>  
            <div class="input-group mb-3">
              <input type="file"  class="form-control"  formControlName="imagePath" id="inputGroupFile03"    aria-label="Upload" aria-describedby="inputGroupFileAddon03" />         
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Kapat</button>
          <button  (click)="add()" class="btn btn-success btn-sm">Oluştur</button>
        </div>
    
      </div>
    </div>
  </div>